<% unless @user.errors.none? %>
<p><%= @user.errors.full_messages.first %></p>
<%end%>

<%= form_for @user do |f| %>
<%= f.label :name %>
<%= f.text_field :name, class: "field" %>
<%= f.label :email %>
<%= f.email_field :email, class: "field" %>
<%= f.label :password %>
<%= f.password_field :password, class: "field" %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, class: "field" %>
<%= f.submit "Submit"%>
<%end%>