
<h4>Edit your information</h4>
<h3><%= @user.name%></h3>
<h3><%= @user.email%></h3>
<%= render 'form'%>

<%= link_to 'Back', user_path(@user), class: "links"%> |
<%= link_to("Delete Account", user_path(@user), :method => :delete, class: "links")%>