<%= link_to 'Quest for Food?', restaurants_index_path %>
<h4>Edit your information</h4>
<h3><%= @user.name%></h3>
<h3><%= @user.email%></h3>
<%= render 'form'%>

<h5>Edit favorites</h5>
<%= link_to 'Back', user_path(@user)%> |
<%= link_to("Delete Account", user_path(@user), :method => :delete)%>