
<div class= "row">
<div class = "user_info small-6 large-6 columns">
<h3 class="user_info">Account Information</h3>
<h5 class="user_info">Name:</h5><h3 class="favorite"><%= @user.name %></h3>
<h5 class="user_info">Email:</h5><h3 class="favorite"><%= @user.email%></h3>


<%= link_to("Edit your account", edit_user_path, class: "user_info")%>
</div>
<div class="grub_list small-6 large-6 columns">
 <h3 class="user_info">Grub List</h3> 

    <% for faves in @user.restaurants do %>
      <p>
      <h3 class="favorite"><%= faves.camis %> </h3>
      <h3 class="favorite"><%= faves.grade %></h3>
      <h3 class="favorite"><%= faves.points %></h3>
      <%= link_to 'View', restaurant_path(faves), class: "links_user" %>
      <%= link_to 'Remove', unfavorite_restaurant_path(faves), :method => :delete, class: "links_user" %>
      </p>  
    
  <%end%>
</div>
</div>