

<div style="clear:both"id="map-canvas">
</div>
<div style="border: red solid 2px; width: 300px; height:800px; float:left;overflow: scroll; margin-left: 15px; margin-top:20px;" class= "good">
    <% for resto in @rest do %>
  <ul>
    <%if resto.points.to_i <= 16 %>
      <li><h3 style="line-height:0px;"><%= resto.camis %></h3><%= link_to "View", restaurant_path(resto)%></li>
    <%end%>
  </ul>
  <%end%>  
</div>


<div style="border: blue solid 2px;width: 300px; height:800px;overflow: scroll;float: left; margin-left: 15px; margin-top:20px;" class = "bad">
  <% for resto in @rest do %>
  <ul>
    <%if (resto.points.to_i > 16 && resto.points.to_i <=27) %>
      <li><h3 style="line-height:0px;"><%= resto.camis %></h3><%= link_to "View", restaurant_path(resto)%></li>
    <%end%>
  </ul>
  <%end%>
</div>


<div style="border: green solid 2px; width:300px;height:800px;overflow: scroll;float:left;margin-left: 15px; margin-top:20px;" class = "ugly">
 <% for resto in @rest do %> 
  <ul>
    <%if resto.points.to_i > 27%>
      <li><h3 style="line-height:0px;"><%= resto.camis %></h3><%= link_to "View", restaurant_path(resto)%></li>
    <%end%>
  </ul>
  <%end%>
</div>
  


