
<div style="float:left;margin-left:30px;"id="map">
  <%if @rest.points.to_i <= 16%>
    <%colour = "green"%>
    <%elsif (@rest.points.to_i > 16 && @rest.points.to_i <= 27)%>
    <%colour = "yellow"%>
    <%else%>
    <%colour = "red"%>
    <%end%>



  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @rest.long %>,<%= @rest.lat %>&zoom=15&size=400x400&maptype=roadmap
&markers=color:<%=colour%>%7Clabel:S%7C<%= @rest.long %>,<%= @rest.lat %>&sensor=false">
</div>

<div style="margin: 0 auto; display: inline; width: 500px; height:500px; float: right; margin-left:10px;">

  <h1 class="rest-name" style=><%= @rest.camis %></h1>
  <h1 class="rest-grade" style=><%= @rest.grade %></h1>
  <h2 class="rest-points" style=><%= @rest.points %></h2>
  <h4 class="rest-address" style=>Add: <%= @rest.address %></h4>
  <h4 class="rest-phone" style=>Ph: <%= @rest.phone %></h4>
  <h3 class="rest-date"style=>Date Inspected: <%= @rest.date %></h3>
  
  
  
  <%= link_to "View All", restaurants_path %>

<% if logged_in? %>
   <%= link_to 'Save to Grub List', favorite_restaurant_path(@rest), :method => :post , class: "links"%>
   <%= link_to 'My Profile', user_path(session[:user_id]), class: "links"%>
 <%end%>

</div>