<div class="restaurant row">

<div class= "static_map small-6 large-6 columns">
<div id="map-canvas"></div>
</div>

<div class="rest_info small-6 large-6 columns">

  <h5>Name:</h5><h2 class="name" style=><%= @rest.camis %></h2>
  <h5>Grade</h5><h2 class="grade" style=><%= @rest.grade %></h2>
  <h5>Points:</h5><h2 class="points" style=><%= @rest.points %></h2>
  <h5>Inspected:</h5><h4 class="rest"style=><%= @rest.date %></h4>
  <h5>Address: </h5><h4 class="address" style=><%= @rest.address %></h4>
  <h5>Phone:</h5><h4 class="phone" style=>Ph: <%= @rest.phone %></h4>

  <%= link_to "View All", restaurants_path, class: "links" %> 

<% if logged_in? %>
   <%= link_to 'Save to Grub List', favorite_restaurant_path(@rest), :method => :post , class: "links"%>
   <%= link_to 'My Profile', user_path(session[:user_id]), class: "links"%>
 <%end%>

</div>
</div>

<script type="text/javascript">
  $.getJSON("/restaurants/"+<%=@rest.id%>, getMap)
</script>
<%= render "singlemap"%>