<%if @rest.points.to_i <= 16%>
    <%uri = "http://farm4.staticflickr.com/3817/10463809513_ebb4dd6cac_o.jpg"%>
    <% colour= "green" %>
    <%elsif (@rest.points.to_i > 16 && @rest.points.to_i <= 27)%>
    <%uri = "http://farm8.staticflickr.com/7432/10463972066_e0d62fac8f_o.jpg"%>
    <% colour = "yellow" %>
    <%else%>
    <%uri = "http://farm3.staticflickr.com/2844/10463809563_ed404c63ee_o.jpg"%>
    <% colour = "red" %>
    <%end%>

<div class="restaurant"style="background:url(<%= uri %>);">


<div class= "static_map">
<!-- static map -->
  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @rest.long %>,<%= @rest.lat %>&zoom=15&size=400x400&maptype=roadmap
&markers=color:<%=colour%>%7Clabel:S%7C<%= @rest.long %>,<%= @rest.lat %>&sensor=false">
</div>

<div class="rest_info">

  <h1 class="rest" style=><%= @rest.camis %></h1>
  <h1 class="rest" style=><%= @rest.grade %></h1>
  <h2 class="rest" style=><%= @rest.points %></h2>
  <h4 class="rest" style=>Add: <%= @rest.address %></h4>
  <h4 class="rest" style=>Ph: <%= @rest.phone %></h4>
  <h4 class="rest"style=>Inspected: <%= @rest.date %></h4>
  
  
  
  <%= link_to "View All", restaurants_path, class: "links" %> รท

<% if logged_in? %>
   <%= link_to 'Save to Grub List', favorite_restaurant_path(@rest), :method => :post , class: "links"%> รท
   <%= link_to 'My Profile', user_path(session[:user_id]), class: "links"%>
 <%end%>

</div>
</div>