<!DOCTYPE html>
<html>
<head>
  <title>Din.r</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" style="width:960px;">
    <div class = "banner">
      <%= link_to "din.r", root_path , class: "logo"%>
      <% unless logged_in? %>
      <%= link_to 'Sign Up', new_user_path %>
      <%= link_to 'Sign In', new_session_path %>
      <%end%>
      <%= link_to 'The Land of Grub', restaurants_path %>

      <%if logged_in? %>
        <%= link_to 'Logout', session_path, :method => :delete %>
      <%end%>
    </div>

  
<%= yield %>
  </div>
</body>
</html>
